/*****************/
/* styles divers */
/*****************/

body {
  margin: 0;
  background-image: url("../img/background/bg-4.jpg");
  font-family: Arial, Verdana, Helvetica , sans-serif;
  font-size:0.9em;
}

#page {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: url("../img/background/content-bg.gif");
  box-shadow: 0px 5px 15px #444;
  color: #66667D;
  width:900px;
}

header {
  display:flex;
  flex-direction:column;
}

main {
  font-size: 16px;
  margin: 0px auto 35px auto;
  text-align: center;
  width: 90%;
}

p {
  padding-left:15px;
}

main p {
  line-height: 25px;
}

h1 {
  font-family: times;
  font-size: 2em;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  color: #222222;
}

.titrePage {
  /*margin-top:40px;*/
  margin-bottom: 30px;
  width: 80%;
  margin-left: 10%;
}

.titrePage h1 {
  text-align: center;
  background: url("../img/background/heading-line.gif") repeat-x scroll center center transparent;
}

.titrePage h1 span {
  background: url("../img/background/content-bg.gif") repeat scroll 0% 0% transparent;
  line-height: 25px;
  padding:0px 10px;
}

footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

footer p {
  margin:10px;
}

#parametres {
  position:fixed;
  top:10px;
  right:10px;
  height:30px;
}
